* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  background-color: white;
  color: #391306;
  position: fixed;
  top: 0;
}

nav ul {
  display: flex;
  align-items: center;
  background-color: white;
}

nav ul li {
  padding: 12px;
  font-size: 1.2em;
  flex: 1;
  list-style: none;

  text-align: center;
}

nav li:hover {
  color: #67595e;
  background-color: #e98354;
  transition: ease-in-out 200ms;
}

.gallery {
  height: 800px;
  display: grid;
  grid-template-columns: repeat(9, 150px);
  grid-auto-rows: 150px;
  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  align-content: space-around;
}

footer ul {
  position: fixed;
  list-style: none;
  bottom: 0;
  width: 100%;
  background-color: grey;
  text-align: center;
}
