* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

header {
  position: relative;
}

.home-main {
  background-color: #000200;
  position: relative;
  z-index: -2;
}

.cover-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cover-container img {
  position: fixed;
  top: 45px;
  z-index: -1;
  width: 100vw;
}

nav {
  background-color: white;
  width: 100%;
  color: #391306;
  position: fixed;
  z-index: 10;
  top: 0;
}

.icon {
  float: right;
  padding: 12px;
}

nav ul li {
  float: left;
  padding: 12px;
  font-size: 1.2em;
  flex: 1;
  list-style: none;
  text-align: center;
}

nav li:hover {
  color: #67595e;
  background-color: white;
  transition: ease-in-out 200ms;
}

h1 {
  text-align: center;
  position: sticky;
  width: 100%;
  color: #e98354;
  padding: 10px;
  margin-top: 80px;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

h2 {
  text-align: center;
  padding: 10px;
  margin: 10px;
  color: #e98354;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  color: black;
  background-color: #e98354;
}

.hero-paragraph {
  padding: 20px;
  color: #e98354;
  background-color: #00020088;
}
