* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  background-color: white;
  color: #391306;
  position: fixed;
  top: 0;
}

nav ul {
  display: flex;
  align-items: center;
  background-color: white;
}

nav ul li {
  padding: 12px;
  font-size: 1.2em;
  flex: 1;
  list-style: none;

  text-align: center;
}

nav li:hover {
  color: #67595e;
  background-color: #e98354;
  transition: ease-in-out 200ms;
}
